In [19]:
def libraries():
    global np,pd,preprocessing,SimpleImputer
    import numpy as np
    import pandas as pd
    from sklearn import preprocessing 
    from sklearn.impute import SimpleImputer
#dont use mean when there are outliers,categorical
def mean_na(df):
    print('\n')
    print('\n')
    n = input('Enter column name u want to apply mean on missing data:')
    df[n].fillna(df[n].mean(),inplace=True)
    
#use median when mean is not working,categorical
def median_na(df):
    print('\n')
    print('\n')
    n = input('Enter column name u want to apply median on misiing data:')
    df[n].fillna(df[n].median(),inplace=True)
    
#use mode when there is categoricaal data
def mode_na(df):
    print('\n')
    print('\n')
    n = input('Enter column name u want to apply mode on missing data:')
    df[n].fillna(df[n].mode()[0],inplace=True)
    
def forward_na(df):
    print('\n')
    print('\n')
    n = input('Enter column name u want to apply forward fill on missing data:')
    df[n].fillna(df[n].ffill(),inplace=True)
    
def backward_na(df):
    print('\n')
    print('\n')
    n = input('Enter column name u want to apply backward fill on misiing data:')
    df[n].fillna(df[n].bfill(),inplace=True)
    
#use when u know exact data to replace that value
def replace_na(df):
    print('\n')
    print('\n')
    n = input('Enter column name u want to replace values:')
    r = int(input('Press 1 for replace null values\nPress 2 for replace number'))
    if r ==1:
        f = np.nan
    if r==2:
        f = int(input('enter a number'))
    print('\n Enter datatype you want to enter')
    x = int(input('press 1 for int\npress 2 for float\npress 3 for str'))
    if x == 1:
        b = int(input('Enter number u want to replace'))
    if x == 2:
        b = float(input('Enter number u want to replace'))
    if x == 3:
        b = str(input('Enter string u want to enter'))
    df[n].replace(f,b,inplace=True)
    
#avoid using this
def drop_na(df):
    print('\n')
    print('\n')
    n = input('Enter column name u want to drop:')
    df[n].dropna(axis = 1,inplace = True)
    
def interpolate(df):
    print('\n')
    print('\n')
    n = int(input('Press 1 for column interpolate with mean\n'
                  'Press 2 for total data frame interpolate mean'))
    if n==1:
        q = input('Enter name of column:')
        h = input('Enter limit direction(forward/backward/both):')
        df[q].interpolate(method ='linear', limit_direction =h,inplace = True)
        
    elif n==2:
        h = input('Enter limit direction(forward/backward/both):')
        df.interpolate(method ='linear', limit_direction =h,inplace = True)
        

def imputer_mean(df):
    print('\n')
    print('\n')
    n = input('Enter the column')
    imputer = SimpleImputer(missing_values = np.NaN,strategy = 'mean')
    df[n] = imputer.fit_transform(df[n].values.reshape(-1,1))[:,0]
    
    
def imputer_median(df):
    print('\n')
    print('\n')
    print(na_variables)
    n = input('Enter the column')
    imputer = SimpleImputer(missing_values = np.NaN,strategy = 'median')
    df[n] = imputer.fit_transform(df[n].values.reshape(-1,1))[:,0]
    

def imputer_mode(df):
    print('\n')
    print('\n')
    n = input('Enter the column')
    imputer = SimpleImputer(missing_values = np.NaN,strategy = 'most_frequent')
    df[n] = imputer.fit_transform(df[n].values.reshape(-1,1))[:,0]
    

libraries()
data = input('Enter your csv file')
df = pd.read_csv(data)

print('\n')
print('\n')
print('Columns with null values are:')
na_variables = [ var for var in df.columns if df[var].isnull().sum() > 0 ]
print(na_variables)
for i in na_variables:
    print('Null values count in {} is:{}'.format(i,df[i].isnull().sum()))
print('----------------------------------------------------------------------------------------')
restart = 'y'
while restart == 'y':
    print('Select a Method to fill null values:')
    p = int(input('Press 1 for mean\n'
                  'Press 2 for median\n'
                  'Press 3 for mode\n'
                  'Press 4 for backward fill\n'
                  'Press 5 for forward fill\n'
                  'Press 6 for replace\n'
                  'Press 7 for drop\n'
                  'Press 8 for interpolate\n'
                  'Press 9 for imputer mean\n'
                  'Press 10 for imputer median\n'
                  'Press 11 for imputer mode'))
    if p==1:
        mean_na(df)
    elif p==2:
        median_na(df)
    elif p==3:
        mode_na(df)
    elif p==4:
        backward_na(df)
    elif p==5:
        forward_na(df)
    elif p==6:
        replace_na(df)
    elif p==7:
        drop_na(df)
    elif p==8:
        interpolate(df)
    elif p==9:
        imputer_mean(df)
    elif p == 10:
        imputer_median(df)
    elif p==11:
        imputer_mode(df)
    else:
        print('Invalid option')
    q = input('Do you want to continue?(y/n):')
    if q == 'y':
        restart = 'y'
    else:
        restart = 'n'
df

Enter your csv filehiring.csv




Columns with null values are:
['experience', 'test_score']
Null values count in experience is:2
Null values count in test_score is:1
----------------------------------------------------------------------------------------
Select a Method to fill null values:
Press 1 for mean
Press 2 for median
Press 3 for mode
Press 4 for backward fill
Press 5 for forward fill
Press 6 for replace
Press 7 for drop
Press 8 for interpolate
Press 9 for imputer mean
Press 10 for imputer median
Press 11 for imputer mode1




Enter column name u want to apply mean on missing data:test_score
Do you want to continue?(y/n):y
Select a Method to fill null values:
Press 1 for mean
Press 2 for median
Press 3 for mode
Press 4 for backward fill
Press 5 for forward fill
Press 6 for replace
Press 7 for drop
Press 8 for interpolate
Press 9 for imputer mean
Press 10 for imputer median
Press 11 for imputer mode3




Enter column name u want to apply mode on missing data:experience
Do you want to continue?(y/n):n

  experience  test_score  interview_score  salary
0     eleven    8.000000                9   50000
1       five    8.000000                6   45000
2        two    6.000000                7   60000
3      seven   10.000000               10   65000
4      three    9.000000                6   70000
5        ten    7.000000               10   62000
6     eleven    7.857143                7   72000
7     eleven    7.000000                8   80000